In [5]:
import requests
import pandas_datareader.data as web
from datetime import datetime,timedelta
import pandas as pd
import json
import mysql.connector
import yfinance as yf
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&apikey=demo'
r = requests.get(url)
ibm_data = r.json()

In [6]:
print(ibm_data)

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes', '2. Symbol': 'IBM', '3. Last Refreshed': '2023-04-14', '4. Output Size': 'Compact', '5. Time Zone': 'US/Eastern'}, 'Time Series (Daily)': {'2023-04-14': {'1. open': '128.4600', '2. high': '129.8400', '3. low': '127.3100', '4. close': '128.1400', '5. volume': '4180614'}, '2023-04-13': {'1. open': '128.0100', '2. high': '128.3900', '3. low': '126.0000', '4. close': '127.9000', '5. volume': '5621512'}, '2023-04-12': {'1. open': '130.4000', '2. high': '130.8857', '3. low': '128.1700', '4. close': '128.5400', '5. volume': '3957542'}, '2023-04-11': {'1. open': '130.5800', '2. high': '131.1050', '3. low': '130.1800', '4. close': '130.4200', '5. volume': '3132430'}, '2023-04-10': {'1. open': '129.8300', '2. high': '131.0800', '3. low': '129.2400', '4. close': '131.0300', '5. volume': '2614402'}, '2023-04-06': {'1. open': '132.1600', '2. high': '132.6000', '3. low': '130.3150', '4. close': '130.5000', '5. volume': '3050581'}, '2023-04-05': {'1. open': '131.3700', '2. high': '132.6100', '3. low': '131.3700', '4. close': '132.1400', '5. volume': '2898759'}, '2023-04-04': {'1. open': '131.9900', '2. high': '132.1499', '3. low': '130.8900', '4. close': '131.6000', '5. volume': '3382783'}, '2023-04-03': {'1. open': '130.9700', '2. high': '132.6100', '3. low': '130.7700', '4. close': '132.0600', '5. volume': '3840139'}, '2023-03-31': {'1. open': '129.4700', '2. high': '131.2300', '3. low': '129.4200', '4. close': '131.0900', '5. volume': '4524686'}, '2023-03-30': {'1. open': '130.1600', '2. high': '131.4800', '3. low': '129.1000', '4. close': '129.2200', '5. volume': '3561762'}, '2023-03-29': {'1. open': '130.1200', '2. high': '130.3500', '3. low': '129.1800', '4. close': '129.7100', '5. volume': '3279846'}, '2023-03-28': {'1. open': '129.1800', '2. high': '129.6600', '3. low': '128.8000', '4. close': '129.3400', '5. volume': '2889115'}, '2023-03-27': {'1. open': '126.4700', '2. high': '130.2550', '3. low': '126.4700', '4. close': '129.3100', '5. volume': '6524113'}, '2023-03-24': {'1. open': '123.3600', '2. high': '125.4000', '3. low': '122.8800', '4. close': '125.2900', '5. volume': '3812644'}, '2023-03-23': {'1. open': '123.8100', '2. high': '124.9300', '3. low': '122.6000', '4. close': '123.3700', '5. volume': '4651936'}, '2023-03-22': {'1. open': '127.0000', '2. high': '127.2150', '3. low': '124.0100', '4. close': '124.0500', '5. volume': '3549024'}, '2023-03-21': {'1. open': '126.9000', '2. high': '127.1500', '3. low': '125.6600', '4. close': '126.5700', '5. volume': '3856345'}, '2023-03-20': {'1. open': '124.3100', '2. high': '126.1600', '3. low': '124.1900', '4. close': '125.9400', '5. volume': '4588304'}, '2023-03-17': {'1. open': '124.0800', '2. high': '124.5200', '3. low': '122.9300', '4. close': '123.6900', '5. volume': '37400167'}, '2023-03-16': {'1. open': '122.9600', '2. high': '124.8200', '3. low': '121.9200', '4. close': '124.7000', '5. volume': '6440023'}, '2023-03-15': {'1. open': '122.9900', '2. high': '123.3500', '3. low': '121.7100', '4. close': '123.2800', '5. volume': '5989339'}, '2023-03-14': {'1. open': '126.4900', '2. high': '126.6400', '3. low': '123.2000', '4. close': '124.6500', '5. volume': '8114792'}, '2023-03-13': {'1. open': '125.1500', '2. high': '128.1900', '3. low': '124.8500', '4. close': '125.5800', '5. volume': '8188369'}, '2023-03-10': {'1. open': '126.1200', '2. high': '127.2900', '3. low': '125.1300', '4. close': '125.4500', '5. volume': '5990867'}, '2023-03-09': {'1. open': '128.3000', '2. high': '128.5300', '3. low': '125.9800', '4. close': '126.1600', '5. volume': '5478317'}, '2023-03-08': {'1. open': '128.4800', '2. high': '128.7400', '3. low': '127.5450', '4. close': '128.0500', '5. volume': '2778798'}, '2023-03-07': {'1. open': '130.2800', '2. high': '130.4200', '3. low': '128.1900', '4. close': '128.2500', '5. volume': '3530439'}, '2023-03-06': {'1. open': '129.6400', '2. high': '130.8600', '3. low': '129.5900', '4. close': '130.1900', '5. volume': '2982980'}, '2023-03-03': {'1. open': '129.3500', '2. high': '129.9050', '3. low': '128.7700', '4. close': '129.6400', '5. volume': '2860286'}, '2023-03-02': {'1. open': '128.3900', '2. high': '129.2200', '3. low': '127.7100', '4. close': '128.9300', '5. volume': '3340254'}, '2023-03-01': {'1. open': '128.9000', '2. high': '129.4726', '3. low': '127.7400', '4. close': '128.1900', '5. volume': '3760678'}, '2023-02-28': {'1. open': '130.5500', '2. high': '130.6100', '3. low': '129.1400', '4. close': '129.3000', '5. volume': '5143133'}, '2023-02-27': {'1. open': '131.4200', '2. high': '131.8700', '3. low': '130.1300', '4. close': '130.4900', '5. volume': '2761326'}, '2023-02-24': {'1. open': '129.6200', '2. high': '130.6700', '3. low': '129.2200', '4. close': '130.5700', '5. volume': '3015907'}, '2023-02-23': {'1. open': '131.5000', '2. high': '131.7000', '3. low': '128.8600', '4. close': '130.7900', '5. volume': '3725648'}, '2023-02-22': {'1. open': '131.9000', '2. high': '131.9900', '3. low': '130.2900', '4. close': '130.9700', '5. volume': '3200185'}, '2023-02-21': {'1. open': '134.0000', '2. high': '134.3850', '3. low': '131.6600', '4. close': '131.7100', '5. volume': '4257210'}, '2023-02-17': {'1. open': '134.5000', '2. high': '135.5800', '3. low': '133.8900', '4. close': '135.0200', '5. volume': '3466184'}, '2023-02-16': {'1. open': '135.5700', '2. high': '135.9672', '3. low': '134.5900', '4. close': '135.0000', '5. volume': '2965495'}, '2023-02-15': {'1. open': '135.2000', '2. high': '136.4450', '3. low': '135.0700', '4. close': '136.4000', '5. volume': '2507004'}, '2023-02-14': {'1. open': '137.0500', '2. high': '137.2400', '3. low': '135.0500', '4. close': '136.0100', '5. volume': '3202172'}, '2023-02-13': {'1. open': '136.0000', '2. high': '137.3900', '3. low': '135.8500', '4. close': '137.3500', '5. volume': '4403015'}, '2023-02-10': {'1. open': '133.7800', '2. high': '135.7700', '3. low': '133.5000', '4. close': '135.6000', '5. volume': '5049571'}, '2023-02-09': {'1. open': '134.9900', '2. high': '135.7300', '3. low': '133.3400', '4. close': '133.7500', '5. volume': '3918817'}, '2023-02-08': {'1. open': '135.7100', '2. high': '136.7400', '3. low': '135.1600', '4. close': '135.9800', '5. volume': '4593748'}, '2023-02-07': {'1. open': '135.6700', '2. high': '136.4000', '3. low': '134.4500', '4. close': '135.8400', '5. volume': '3737553'}, '2023-02-06': {'1. open': '135.8300', '2. high': '136.3200', '3. low': '134.9500', '4. close': '136.1800', '5. volume': '4841300'}, '2023-02-03': {'1. open': '136.3500', '2. high': '136.9500', '3. low': '135.5300', '4. close': '136.9400', '5. volume': '3755720'}, '2023-02-02': {'1. open': '135.9600', '2. high': '136.7200', '3. low': '134.8500', '4. close': '136.3900', '5. volume': '6107793'}, '2023-02-01': {'1. open': '134.4900', '2. high': '135.7900', '3. low': '132.8000', '4. close': '135.0900', '5. volume': '5428898'}, '2023-01-31': {'1. open': '135.5000', '2. high': '135.6500', '3. low': '133.7600', '4. close': '134.7300', '5. volume': '7206448'}, '2023-01-30': {'1. open': '134.3200', '2. high': '136.1100', '3. low': '133.9800', '4. close': '135.3000', '5. volume': '5375712'}, '2023-01-27': {'1. open': '134.4400', '2. high': '135.4880', '3. low': '133.7701', '4. close': '134.3900', '5. volume': '8143146'}, '2023-01-26': {'1. open': '137.5300', '2. high': '138.2700', '3. low': '132.9800', '4. close': '134.4500', '5. volume': '17548483'}, '2023-01-25': {'1. open': '140.4700', '2. high': '141.0300', '3. low': '139.3600', '4. close': '140.7600', '5. volume': '7347453'}, '2023-01-24': {'1. open': '141.2500', '2. high': '142.7500', '3. low': '140.0000', '4. close': '141.4900', '5. volume': '4407622'}, '2023-01-23': {'1. open': '141.4000', '2. high': '142.9850', '3. low': '141.0600', '4. close': '141.8600', '5. volume': '5898436'}, '2023-01-20': {'1. open': '141.6700', '2. high': '141.8600', '3. low': '140.5100', '4. close': '141.2000', '5. volume': '7153341'}, '2023-01-19': {'1. open': '140.0000', '2. high': '142.2300', '3. low': '139.7500', '4. close': '140.6200', '5. volume': '4833924'}, '2023-01-18': {'1. open': '144.4000', '2. high': '144.6780', '3. low': '140.2250', '4. close': '140.4100', '5. volume': '6445642'}, '2023-01-17': {'1. open': '146.4200', '2. high': '147.1800', '3. low': '145.0100', '4. close': '145.1900', '5. volume': '2986461'}, '2023-01-13': {'1. open': '144.0600', '2. high': '146.1000', '3. low': '144.0100', '4. close': '145.8900', '5. volume': '2455786'}, '2023-01-12': {'1. open': '144.8800', '2. high': '146.6600', '3. low': '144.5200', '4. close': '145.5500', '5. volume': '2716118'}, '2023-01-11': {'1. open': '145.0000', '2. high': '145.5300', '3. low': '143.4500', '4. close': '145.2600', '5. volume': '3268738'}, '2023-01-10': {'1. open': '143.6100', '2. high': '144.8500', '3. low': '142.9000', '4. close': '144.8000', '5. volume': '2152172'}, '2023-01-09': {'1. open': '144.0800', '2. high': '145.4700', '3. low': '143.4000', '4. close': '143.5500', '5. volume': '3987782'}, '2023-01-06': {'1. open': '142.3800', '2. high': '144.2500', '3. low': '141.5800', '4. close': '143.7000', '5. volume': '3574042'}, '2023-01-05': {'1. open': '142.4400', '2. high': '142.4980', '3. low': '140.0100', '4. close': '141.1100', '5. volume': '2866648'}, '2023-01-04': {'1. open': '142.0700', '2. high': '143.6150', '3. low': '141.3675', '4. close': '142.6000', '5. volume': '3869236'}, '2023-01-03': {'1. open': '141.1000', '2. high': '141.9000', '3. low': '140.4800', '4. close': '141.5500', '5. volume': '3338829'}, '2022-12-30': {'1. open': '140.5400', '2. high': '140.9000', '3. low': '139.4500', '4. close': '140.8900', '5. volume': '2858110'}, '2022-12-29': {'1. open': '140.5800', '2. high': '142.2600', '3. low': '140.4500', '4. close': '141.0600', '5. volume': '2337207'}, '2022-12-28': {'1. open': '142.4000', '2. high': '142.8100', '3. low': '139.9500', '4. close': '140.0200', '5. volume': '2539577'}, '2022-12-27': {'1. open': '141.7300', '2. high': '142.7200', '3. low': '141.2300', '4. close': '142.4200', '5. volume': '2742525'}, '2022-12-23': {'1. open': '140.5900', '2. high': '141.8565', '3. low': '139.6000', '4. close': '141.6500', '5. volume': '2092715'}, '2022-12-22': {'1. open': '140.9500', '2. high': '141.4400', '3. low': '138.6200', '4. close': '140.8800', '5. volume': '3337851'}, '2022-12-21': {'1. open': '141.8400', '2. high': '143.0900', '3. low': '140.9750', '4. close': '142.1400', '5. volume': '3793700'}, '2022-12-20': {'1. open': '138.8400', '2. high': '141.4250', '3. low': '138.3400', '4. close': '141.2800', '5. volume': '5156450'}, '2022-12-19': {'1. open': '140.1600', '2. high': '140.4400', '3. low': '137.1950', '4. close': '138.8700', '5. volume': '5282860'}, '2022-12-16': {'1. open': '141.2500', '2. high': '141.9150', '3. low': '138.9700', '4. close': '140.1600', '5. volume': '9834427'}, '2022-12-15': {'1. open': '148.5200', '2. high': '148.9800', '3. low': '141.5800', '4. close': '142.3600', '5. volume': '6687744'}, '2022-12-14': {'1. open': '150.4700', '2. high': '151.9100', '3. low': '148.4500', '4. close': '149.8600', '5. volume': '4205878'}, '2022-12-13': {'1. open': '150.3700', '2. high': '153.2100', '3. low': '149.9500', '4. close': '150.5700', '5. volume': '8811553'}, '2022-12-12': {'1. open': '147.8200', '2. high': '149.2100', '3. low': '146.9426', '4. close': '149.2100', '5. volume': '4032780'}, '2022-12-09': {'1. open': '147.4000', '2. high': '148.3400', '3. low': '146.9700', '4. close': '147.0500', '5. volume': '3047581'}, '2022-12-08': {'1. open': '147.9000', '2. high': '149.1530', '3. low': '147.3650', '4. close': '147.7800', '5. volume': '2665687'}, '2022-12-07': {'1. open': '147.3300', '2. high': '148.1050', '3. low': '146.2900', '4. close': '147.2700', '5. volume': '3971285'}, '2022-12-06': {'1. open': '147.3000', '2. high': '147.8000', '3. low': '146.7000', '4. close': '147.5000', '5. volume': '2847610'}, '2022-12-05': {'1. open': '147.9400', '2. high': '148.9300', '3. low': '146.8000', '4. close': '147.4100', '5. volume': '2784767'}, '2022-12-02': {'1. open': '148.1300', '2. high': '149.1600', '3. low': '147.7300', '4. close': '148.6700', '5. volume': '2899995'}, '2022-12-01': {'1. open': '149.9800', '2. high': '150.0100', '3. low': '147.3400', '4. close': '149.1600', '5. volume': '4495924'}, '2022-11-30': {'1. open': '146.1900', '2. high': '149.6400', '3. low': '145.6700', '4. close': '148.9000', '5. volume': '6377582'}, '2022-11-29': {'1. open': '145.9100', '2. high': '147.1668', '3. low': '145.7000', '4. close': '146.4900', '5. volume': '2754744'}, '2022-11-28': {'1. open': '147.9800', '2. high': '148.2400', '3. low': '145.9350', '4. close': '146.1800', '5. volume': '3538696'}, '2022-11-25': {'1. open': '148.2700', '2. high': '149.4900', '3. low': '148.1010', '4. close': '148.3700', '5. volume': '2075156'}, '2022-11-23': {'1. open': '149.1000', '2. high': '150.4600', '3. low': '148.3000', '4. close': '148.7500', '5. volume': '3658459'}, '2022-11-22': {'1. open': '147.6000', '2. high': '149.3500', '3. low': '147.0200', '4. close': '149.1000', '5. volume': '7062060'}, '2022-11-21': {'1. open': '147.5500', '2. high': '147.9280', '3. low': '146.4500', '4. close': '146.6800', '5. volume': '3476208'}, '2022-11-18': {'1. open': '146.5600', '2. high': '148.3100', '3. low': '145.9400', '4. close': '147.6400', '5. volume': '4661735'}}}

In [73]:
end = datetime.today()
back_week = 3
ibm_share_price_data = pd.DataFrame()
i=0;j=0
while i < (back_week*7):
    date = (end - timedelta(days =j)).strftime('%Y-%m-%d')
    df = ibm_data['Time Series (Daily)'].get(date,None)
    if df !=None:
        process_data = {"symbol":"IBM","date":date,"open_price":df['1. open'],"close_price":df['4. close'],"volume":df['5. volume']}
        print(process_data)
        process_df = pd.DataFrame([process_data])
        ibm_share_price_data = pd.concat([ibm_share_price_data,process_df])
        i+=1
    j+=1

{'symbol': 'IBM', 'date': '2023-04-14', 'open_price': '128.4600', 'close_price': '128.1400', 'volume': '4180614'}
{'symbol': 'IBM', 'date': '2023-04-13', 'open_price': '128.0100', 'close_price': '127.9000', 'volume': '5621512'}
{'symbol': 'IBM', 'date': '2023-04-12', 'open_price': '130.4000', 'close_price': '128.5400', 'volume': '3957542'}
{'symbol': 'IBM', 'date': '2023-04-11', 'open_price': '130.5800', 'close_price': '130.4200', 'volume': '3132430'}
{'symbol': 'IBM', 'date': '2023-04-10', 'open_price': '129.8300', 'close_price': '131.0300', 'volume': '2614402'}
{'symbol': 'IBM', 'date': '2023-04-06', 'open_price': '132.1600', 'close_price': '130.5000', 'volume': '3050581'}
{'symbol': 'IBM', 'date': '2023-04-05', 'open_price': '131.3700', 'close_price': '132.1400', 'volume': '2898759'}
{'symbol': 'IBM', 'date': '2023-04-04', 'open_price': '131.9900', 'close_price': '131.6000', 'volume': '3382783'}
{'symbol': 'IBM', 'date': '2023-04-03', 'open_price': '130.9700', 'close_price': '132.0600', 'volume': '3840139'}
{'symbol': 'IBM', 'date': '2023-03-31', 'open_price': '129.4700', 'close_price': '131.0900', 'volume': '4524686'}
{'symbol': 'IBM', 'date': '2023-03-30', 'open_price': '130.1600', 'close_price': '129.2200', 'volume': '3561762'}
{'symbol': 'IBM', 'date': '2023-03-29', 'open_price': '130.1200', 'close_price': '129.7100', 'volume': '3279846'}
{'symbol': 'IBM', 'date': '2023-03-28', 'open_price': '129.1800', 'close_price': '129.3400', 'volume': '2889115'}
{'symbol': 'IBM', 'date': '2023-03-27', 'open_price': '126.4700', 'close_price': '129.3100', 'volume': '6524113'}
{'symbol': 'IBM', 'date': '2023-03-24', 'open_price': '123.3600', 'close_price': '125.2900', 'volume': '3812644'}
{'symbol': 'IBM', 'date': '2023-03-23', 'open_price': '123.8100', 'close_price': '123.3700', 'volume': '4651936'}
{'symbol': 'IBM', 'date': '2023-03-22', 'open_price': '127.0000', 'close_price': '124.0500', 'volume': '3549024'}
{'symbol': 'IBM', 'date': '2023-03-21', 'open_price': '126.9000', 'close_price': '126.5700', 'volume': '3856345'}
{'symbol': 'IBM', 'date': '2023-03-20', 'open_price': '124.3100', 'close_price': '125.9400', 'volume': '4588304'}
{'symbol': 'IBM', 'date': '2023-03-17', 'open_price': '124.0800', 'close_price': '123.6900', 'volume': '37400167'}
{'symbol': 'IBM', 'date': '2023-03-16', 'open_price': '122.9600', 'close_price': '124.7000', 'volume': '6440023'}

In [74]:
ibm_share_price_data = ibm_share_price_data.reset_index(drop=True)
ibm_share_price_data[['open_price','close_price']] = ibm_share_price_data[['open_price','close_price']].astype(float)

In [75]:
print(ibm_share_price_data)

   symbol        date  open_price  close_price    volume
0     IBM  2023-04-14      128.46       128.14   4180614
1     IBM  2023-04-13      128.01       127.90   5621512
2     IBM  2023-04-12      130.40       128.54   3957542
3     IBM  2023-04-11      130.58       130.42   3132430
4     IBM  2023-04-10      129.83       131.03   2614402
5     IBM  2023-04-06      132.16       130.50   3050581
6     IBM  2023-04-05      131.37       132.14   2898759
7     IBM  2023-04-04      131.99       131.60   3382783
8     IBM  2023-04-03      130.97       132.06   3840139
9     IBM  2023-03-31      129.47       131.09   4524686
10    IBM  2023-03-30      130.16       129.22   3561762
11    IBM  2023-03-29      130.12       129.71   3279846
12    IBM  2023-03-28      129.18       129.34   2889115
13    IBM  2023-03-27      126.47       129.31   6524113
14    IBM  2023-03-24      123.36       125.29   3812644
15    IBM  2023-03-23      123.81       123.37   4651936
16    IBM  2023-03-22      127.00       124.05   3549024
17    IBM  2023-03-21      126.90       126.57   3856345
18    IBM  2023-03-20      124.31       125.94   4588304
19    IBM  2023-03-17      124.08       123.69  37400167
20    IBM  2023-03-16      122.96       124.70   6440023

In [76]:
apple = yf.Ticker("AAPL")

In [85]:
apple_share_price_data = apple.history(period=str(back_week*7)+'d')
apple_share_price_data.reset_index(inplace=True)
apple_share_price_data['Date'] = apple_share_price_data['Date'].apply(lambda x: x.strftime('%Y-%m-%d'))
apple_share_price_data['symbol'] = 'AAPL'
apple_share_price_data = apple_share_price_data[['symbol','Date','Open','Close','Volume']]
apple_share_price_data.rename(columns={'Date':'date','Open':'open_price','Close':'close_price','Volume':'volume'},inplace = True)
apple_share_price_data[['open_price','close_price']] = apple_share_price_data[['open_price','close_price']].astype(float)
print(apple_share_price_data)

   symbol        date  open_price  close_price    volume
0    AAPL  2023-03-16      152.16       155.85  76161100
1    AAPL  2023-03-17      156.08       155.00  98944600
2    AAPL  2023-03-20      155.07       157.40  73641400
3    AAPL  2023-03-21      157.32       159.28  73938300
4    AAPL  2023-03-22      159.30       157.83  75701800
5    AAPL  2023-03-23      158.83       158.93  67622100
6    AAPL  2023-03-24      158.86       160.25  59196500
7    AAPL  2023-03-27      159.94       158.28  52390300
8    AAPL  2023-03-28      157.97       157.65  45992200
9    AAPL  2023-03-29      159.37       160.77  51305700
10   AAPL  2023-03-30      161.53       162.36  49501700
11   AAPL  2023-03-31      162.44       164.90  68694700
12   AAPL  2023-04-03      164.27       166.17  56976200
13   AAPL  2023-04-04      166.60       165.63  46278300
14   AAPL  2023-04-05      164.74       163.76  51511700
15   AAPL  2023-04-06      162.43       164.66  45390100
16   AAPL  2023-04-10      161.42       162.03  47716900
17   AAPL  2023-04-11      162.35       160.80  47644200
18   AAPL  2023-04-12      161.22       160.10  50133100
19   AAPL  2023-04-13      161.63       165.56  68445600
20   AAPL  2023-04-14      164.59       165.21  49337200

In [86]:
financial_data = pd.concat([ibm_share_price_data,apple_share_price_data])
financial_data = financial_data.reset_index(drop=True)
print(financial_data)

   symbol        date  open_price  close_price    volume
0     IBM  2023-04-14      128.46       128.14   4180614
1     IBM  2023-04-13      128.01       127.90   5621512
2     IBM  2023-04-12      130.40       128.54   3957542
3     IBM  2023-04-11      130.58       130.42   3132430
4     IBM  2023-04-10      129.83       131.03   2614402
5     IBM  2023-04-06      132.16       130.50   3050581
6     IBM  2023-04-05      131.37       132.14   2898759
7     IBM  2023-04-04      131.99       131.60   3382783
8     IBM  2023-04-03      130.97       132.06   3840139
9     IBM  2023-03-31      129.47       131.09   4524686
10    IBM  2023-03-30      130.16       129.22   3561762
11    IBM  2023-03-29      130.12       129.71   3279846
12    IBM  2023-03-28      129.18       129.34   2889115
13    IBM  2023-03-27      126.47       129.31   6524113
14    IBM  2023-03-24      123.36       125.29   3812644
15    IBM  2023-03-23      123.81       123.37   4651936
16    IBM  2023-03-22      127.00       124.05   3549024
17    IBM  2023-03-21      126.90       126.57   3856345
18    IBM  2023-03-20      124.31       125.94   4588304
19    IBM  2023-03-17      124.08       123.69  37400167
20    IBM  2023-03-16      122.96       124.70   6440023
21   AAPL  2023-03-16      152.16       155.85  76161100
22   AAPL  2023-03-17      156.08       155.00  98944600
23   AAPL  2023-03-20      155.07       157.40  73641400
24   AAPL  2023-03-21      157.32       159.28  73938300
25   AAPL  2023-03-22      159.30       157.83  75701800
26   AAPL  2023-03-23      158.83       158.93  67622100
27   AAPL  2023-03-24      158.86       160.25  59196500
28   AAPL  2023-03-27      159.94       158.28  52390300
29   AAPL  2023-03-28      157.97       157.65  45992200
30   AAPL  2023-03-29      159.37       160.77  51305700
31   AAPL  2023-03-30      161.53       162.36  49501700
32   AAPL  2023-03-31      162.44       164.90  68694700
33   AAPL  2023-04-03      164.27       166.17  56976200
34   AAPL  2023-04-04      166.60       165.63  46278300
35   AAPL  2023-04-05      164.74       163.76  51511700
36   AAPL  2023-04-06      162.43       164.66  45390100
37   AAPL  2023-04-10      161.42       162.03  47716900
38   AAPL  2023-04-11      162.35       160.80  47644200
39   AAPL  2023-04-12      161.22       160.10  50133100
40   AAPL  2023-04-13      161.63       165.56  68445600
41   AAPL  2023-04-14      164.59       165.21  49337200

In [96]:
financial_data.describe()

       open_price  close_price
count       42.00        42.00
mean       144.28       144.69
std         16.62        16.87
min        122.96       123.37
25%        129.25       129.24
50%        142.16       143.57
75%        160.90       160.64
max        166.60       166.17

In [55]:
import pymysql

# Connect to the database
connection = pymysql.connect(host='localhost',
                         user='noyn',
                         password='Japan2023!')

# create cursor
mycursor=connection.cursor()
mycursor.execute("CREATE DATABASE financial_data")

1

In [91]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('financial_data',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [87]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="noyn",
                               pw="Japan2023!",
                               db="financial_data"))

In [89]:
# Insert whole DataFrame into MySQL
financial_data.to_sql('financial_data_tbl', con = engine)

42

In [92]:
# Connect to the database
connection = pymysql.connect(host='localhost',
                         user='noyn',
                         password='Japan2023!',db="financial_data")

# create cursor
mycursor=connection.cursor()

In [93]:
# Execute Query
mycursor.execute("SELECT * from financial_data")

# Fetch the records
result = mycursor.fetchall()

for i in result:
    print(i)

# Close the connection
connection.close()

(0, 'IBM', '2023-04-14', 128.46, 128.14, '4180614')
(1, 'IBM', '2023-04-13', 128.01, 127.9, '5621512')
(2, 'IBM', '2023-04-12', 130.4, 128.54, '3957542')
(3, 'IBM', '2023-04-11', 130.58, 130.42, '3132430')
(4, 'IBM', '2023-04-10', 129.83, 131.03, '2614402')
(5, 'IBM', '2023-04-06', 132.16, 130.5, '3050581')
(6, 'IBM', '2023-04-05', 131.37, 132.14, '2898759')
(7, 'IBM', '2023-04-04', 131.99, 131.6, '3382783')
(8, 'IBM', '2023-04-03', 130.97, 132.06, '3840139')
(9, 'IBM', '2023-03-31', 129.47, 131.09, '4524686')
(10, 'IBM', '2023-03-30', 130.16, 129.22, '3561762')
(11, 'IBM', '2023-03-29', 130.12, 129.71, '3279846')
(12, 'IBM', '2023-03-28', 129.18, 129.34, '2889115')
(13, 'IBM', '2023-03-27', 126.47, 129.31, '6524113')
(14, 'IBM', '2023-03-24', 123.36, 125.29, '3812644')
(15, 'IBM', '2023-03-23', 123.81, 123.37, '4651936')
(16, 'IBM', '2023-03-22', 127.0, 124.05, '3549024')
(17, 'IBM', '2023-03-21', 126.9, 126.57, '3856345')
(18, 'IBM', '2023-03-20', 124.31, 125.94, '4588304')
(19, 'IBM', '2023-03-17', 124.08, 123.69, '37400167')
(20, 'IBM', '2023-03-16', 122.96, 124.7, '6440023')
(21, 'AAPL', '2023-03-16', 152.16000366210938, 155.85000610351562, '76161100')
(22, 'AAPL', '2023-03-17', 156.0800018310547, 155.0, '98944600')
(23, 'AAPL', '2023-03-20', 155.07000732421875, 157.39999389648438, '73641400')
(24, 'AAPL', '2023-03-21', 157.32000732421875, 159.27999877929688, '73938300')
(25, 'AAPL', '2023-03-22', 159.3000030517578, 157.8300018310547, '75701800')
(26, 'AAPL', '2023-03-23', 158.8300018310547, 158.92999267578125, '67622100')
(27, 'AAPL', '2023-03-24', 158.86000061035156, 160.25, '59196500')
(28, 'AAPL', '2023-03-27', 159.94000244140625, 158.27999877929688, '52390300')
(29, 'AAPL', '2023-03-28', 157.97000122070312, 157.64999389648438, '45992200')
(30, 'AAPL', '2023-03-29', 159.3699951171875, 160.77000427246094, '51305700')
(31, 'AAPL', '2023-03-30', 161.52999877929688, 162.36000061035156, '49501700')
(32, 'AAPL', '2023-03-31', 162.44000244140625, 164.89999389648438, '68694700')
(33, 'AAPL', '2023-04-03', 164.27000427246094, 166.1699981689453, '56976200')
(34, 'AAPL', '2023-04-04', 166.60000610351562, 165.6300048828125, '46278300')
(35, 'AAPL', '2023-04-05', 164.74000549316406, 163.75999450683594, '51511700')
(36, 'AAPL', '2023-04-06', 162.42999267578125, 164.66000366210938, '45390100')
(37, 'AAPL', '2023-04-10', 161.4199981689453, 162.02999877929688, '47716900')
(38, 'AAPL', '2023-04-11', 162.35000610351562, 160.8000030517578, '47644200')
(39, 'AAPL', '2023-04-12', 161.22000122070312, 160.10000610351562, '50133100')
(40, 'AAPL', '2023-04-13', 161.6300048828125, 165.55999755859375, '68445600')
(41, 'AAPL', '2023-04-14', 164.58999633789062, 165.2100067138672, '49337200')